.main {
  height: 85vh;
  background-color: #fff;
  overflow: auto;
}

/* .LoginPage {
  height: 100vh;
  background-color: #ffffff;
  width: 100%;
  color: #3cB650 ;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
} */

table {
  width: 100%;
}

.cell {
  width:5%;
}

.cell2 {
  width:10%;
}