.Heading2 {
    color: #3cB650 ;
	font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size:  35px;
	overflow-x: hidden;
    text-rendering: optimizeLegibility;
    padding: 20px;
    background-color:#e5e5e5;
    margin-bottom: 0;
    padding: 2rem 0;	
}